/* Error: There is no module with the namespace "variables".
 *    ,
 * 30 |     padding: variables.$spacing-sm variables.$spacing-lg;
 *    |              ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\utilities\_mixins.scss 30:14  @use
 *   scss\componentes\_cards.scss 3:1   @use
 *   scss\main.scss 8:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "variables".\a    \2577 \a 30 \2502      padding: variables.$spacing-sm variables.$spacing-lg;\d\a    \2502               ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\utilities\\_mixins.scss 30:14  @use\a   scss\\componentes\\_cards.scss 3:1   @use\a   scss\\main.scss 8:1                 root stylesheet';
}
