// Estilos específicos para la página "Nosotros"
@use "../utilities/variables";
@use "../utilities/mixins";

.about-section {
    @include mixins.flex-setup(column);
    text-align: center;
    padding: variables.$spacing-xl 0;
    margin-top: variables.$spacing-xl;

    h1 {
        margin-bottom: variables.$spacing-xl;
    }

    &__image {
        width: 300px;
        height: autopx;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: variables.$spacing-lg;
        border: 4px solid variables.$color-primario;
    }

    &__text {
        max-width: 800px;
        font-size: 1.1em;
        line-height: 1.7;
        margin-bottom: variables.$spacing-md;
    }

    @media (max-width: variables.$breakpoint-tablet) {
        padding: variables.$spacing-lg 0;
        &__image {
            width: 200px;
            height: 200px;
        }
        &__text {
            font-size: 1em;
        }
    }
}