 // mixin + nombre + argumento + llaves --> Esto se añade en donde se necesita con @include nombreMixin ()


 // flexibilidad para centro 

@mixin flex-centro($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}


// mixin para la sombra
@mixin box-shadow($x-offset, $y-offset, $blur, $spread, $color) {
    box-shadow: $x-offset $y-offset $blur $spread $color;
} 


// transiciones 

@mixin transiciones($property, $duration, $timing-function) {
    transition: $property $duration $timing-function;
}

//botón base 

.button-base {
    display: inline-block;
    padding: variables.$spacing-sm variables.$spacing-lg;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    font-size: variables.$font-size-base;
}

