 // mixin + nombre + argumento + llaves --> Esto se añade en donde se necesita con @include nombreMixin ()


 // flexibilidad para centro 

// @mixin flex-centro($direction: row) {
//     display: flex;
//     flex-direction: $direction;
//     justify-content: center;
//     align-items: center;
// }

// mixin más reemplazable
@mixin flex-setup($direction: row, $justify: center, $align: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}


// mixin para la sombra
@mixin box-shadow($x-offset, $y-offset, $blur, $spread, $color) {
    box-shadow: $x-offset $y-offset $blur $spread $color;
} 


// transiciones 

@mixin transiciones($property, $duration, $timing-function) {
    transition: $property $duration $timing-function;
}
// grid

@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}