@use "../utilities/variables";
@use "../utilities/extend";


.button--secondary {
    @extend .button-base;
    background-color: transparent;
    color: variables.$color-primario;
    border: 2px solid variables.$color-primario;

    &:hover {
        background-color: variables.$color-primario;
        color: variables.$light-white;
    }
}

.button--vermas {
    @extend .button--primary;
}

.button--primary {
    @extend .button-base;
    background-color: variables.$color-primario;
    color: variables.$light-white;
    border: 2px solid variables.$color-primario;

    &:hover {
        background-color: variables.$color-hover;
        border-color: variables.$color-hover;
        transform: translateY(-2px);
    }
    &:active {
        transform: translateY(0);
    }
}