@use '../utilities/variables';

footer {
    display: flex; 
    background-color: variables.$color-titulo;
    color: variables.$color-secundario;
    padding: variables.$spacing-lg variables.$spacing-md;
    text-align: center;
    margin-top: variables.$spacing-xxl;

    a {
        color: variables.$color-primario;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin-bottom: variables.$spacing-xs;
        font-size: 0.9em;
    }


}

.logo--footer {
    gap: 15px;
}

.logo--footer__red-social {
    width: 28px;
    height: 28px;
}