@use '../utilities/variables';
@use '../utilities/mixins';

footer {
    display: flex;
    background-color: variables.$color-titulo;
    color: variables.$color-secundario;
    padding: variables.$spacing-lg variables.$spacing-md;
    text-align: center;
    margin-top: variables.$spacing-xxl;

    a {
        color: variables.$color-primario;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin-bottom: variables.$spacing-xs;
        font-size: 0.9em;
    }


}



.rrss-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-align: center;
    color: #FAFAFA;
    height: auto;
}

.logo--footer__red-social {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
}