@use "../utilities/mixins";
@use "../utilities/variables";

.secondarynav--image {
    background-image: url("../assetsProyecto/secondaryNav.png");
    background-size: cover;
    background-position: center;
    min-height: 100px;
     @include mixins.flex-setup(row, center, center);

}

.secondarynav--texto {
    color: #fafafa;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

/* Presentación */


.presentacion {
    @include mixins.grid(repeat(2, 1fr), variables.$spacing-xl);
    padding: 16px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;


    @media (max-width: variables.$breakpoint-tablet) {
    grid-template-columns: 1fr ; 
    text-align: center;
  }
}

.presentacion--image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}